*{
    box-sizing: border-box;
  }
  body{
    font-family: 'Mosterrat';
  }
  
  section{
    height: 100vh;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
  }
  
  
  .container{
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 40px 20px #00000010;
    background-color: white;
    border-radius: 8px;
    margin-bottom:20px
      
  }
  
  .form-group{
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
  }
  
  .form-group input, .form-group textarea{
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border:1px solid;
    margin-top: 5px;
  }
  
  textarea{
    resize: vertical;
  }
  
  button[type="submit"]{
    width: 100%;
    padding: 20px;
    fond-size: 20px;
    
  }
  button[type="submit"]:hover{
    background: grey;
  }
  #status{
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 5px;
    margin: 0 auto ;
    border-radius: 8px;
    right: 10px;
  }
  
  #status.success{
    background-color: rgb(211, 250, 153);
    animation: status 4s ease forwards;
  }
  
  #status.error{
    background-color: red;
    animation: status 4s ease forwards;
  }
  
  @keyframes status{
    0%{
      opacity: 1;
      pointer-events: all;
    }
    90%{
      opacity: 1;
      pointer-events: all;
    }
    100%{
      opacity: 0;
      pointer-events: none;
    }
  }